{% extends 'base.html' %}

{% block title %} Cat Friends {% endblock title %}


{% block content %}


{% for user in users %}

<div class="row" style="flex-wrap: wrap; justify-content: space-evenly;">
    <div class="d-flex card mt-3" style="width: 15rem;">
        <img src="http://placekitten.com/g/200/200" class="img mt-3 border border-2 border-dark w-auto " style="width: 15rem;" alt="kittycat">
        <div class="card-body">
        <h5 class="card-title text-center">username:</h5>
        <a href="{{url_for('user_pro', user_id=user.id)}}">
        <h5 class="card-title text-center">{{user.username}}</h5>
        </a>
        {% if current_user == user %}
        <p class="card-text">email: {{user.email}} </p>
        {% endif %}
        </div>
    </div>
</div>



{% endfor %}






{% endblock content %}