{% extends 'base.html'%}



{% block title %} Random Cat! {% endblock title %}

{% block content %}

<h2 class="text-center">Random kitty photos!</h2>

<div class="d-flex mt-3 text-center" style="flex-wrap: wrap; justify-content: center;">
<div id="Meowcat" class="kitten mt-3 w-25 text-center"></div>
<button id="randomcat" type="button" class="w-25 rounded bg-info mt-3 text-center h-25">Click for random kitty</button>
</div>





<script>

const url = './catimg'
const i = {
    method: 'GET'
}

function KittyPhoto(url, i){
    return fetch(url, i)
    .then (res => res.json());
}

async function getMeow(url, ){
    const res = await KittyPhoto(url, i)
    const catDiv = document.getElementById("Meowcat")
    const imageElement = document.createElement("img")
    imageElement.src = res.cat_meow;
    catDiv.appendChild(imageElement)

}

document.getElementById("randomcat")
.addEventListener("click", () => {
    getMeow(url, i)
}
)

</script>

{% endblock content %}