{% extends 'base.html' %}


{%block content%}


<h1 class="h1 text-center mt-3">Create an account!</h1>



<form>
    {{ form.csrf_token }}
    <div class="form-group text-center">

    {{ form.email.label(class='fm mt-3')}}
    {{form.email(class='form-control mt-3', placeholder='Please Enter Email')}}

    {{ form.username.label(class='fm mt-3')}}
    {{form.username(class='form-control mt-3', placeholder='Please Enter Username')}}

    {{ form.password.label(class='fm mt-3')}}
    {{form.password(class='form-control mt-3', placeholder='Please Enter Password')}}

    {{ form.confirm_password.label(class='fm mt-3')}}
    {{form.confirm_password(class='form-control mt-3', placeholder='Please Confirm your Password')}}

    {{ form.submit(class='btn btn-info w-75 mt-3')}}

    </div>
</form>


{%endblock content%}