{% extends 'base.html' %}


{% block title %}Cat-tastic App{% endblock title%}
     

{% block content %}
        <h1 class="h1 text-center">Welcome to Cat App, <strong>{{current_user.username }} </strong>!</h1>

        <div class="cat text-center">
            <img src="{{url_for('static', filename='pexels.jpg')}}" alt="cat paw on keyboard" class="cat rounded w-50 mb-2"/>
            </div>
    


        


{% endblock content %}


<!-- cat photo from: Photo by Александар Цветановић: https://www.pexels.com/photo/orange-cat-foot-on-laptop-keyboard-1440387/ -->