{% extends 'base.html' %}


{% block title %}Cat-tastic App{% endblock title%}
     

{% block content %}
        <h1 class="h1 text-center">Welcome to Cat App</h1>

        <div class="cat text-center">
            <img src="{{url_for('static', filename='pexels.jpg')}}" alt="cat paw on keyboard" class="cat rounded w-50 mb-2"/>
            </div>

{% if current_user.is_authenticated %}
        <h6 class="text-center">
           --- Currently signed in as {{current_user.username }} ---
        </h6>

        {% for cat in cats %}

        <div class="card text-center">
            <div class="card-header bg-info">
            </div>
            <div class="card-body">
                <h7>Favorite Internet cat:</h7>
              <h5 class="card-title"> {{ cat.fav_int_cat}}</h5>

                <h7>Favorite cat breed/color:</h7>
              <p class="card-text"> {{ cat.fav_cat_breed }}</p>
                
              <h7>Favorite cat fact:</h7>
              <p class="card-text"> {{ cat.fav_cat_fact }}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer bg-info text-muted">
              Posted by: {{ cat.author.username }} on:
              {{cat.date_created}}
            </div>
          </div>
        {% endfor %}


{% endif %}
    


        


{% endblock content %}


<!-- cat photo from: Photo by Александар Цветановић: https://www.pexels.com/photo/orange-cat-foot-on-laptop-keyboard-1440387/ -->