{% extends 'base.html' %}


{% block title %}User Profile{% endblock title%}


{% block content %}

{% if current_user == user %}
<h1 class="text-center">Welcome to your user profile! </h1>


{% else %}
<h1 class="text-center">Welcome to the user profile! </h1>
{% endif %}


<div class="row" style="flex-wrap: wrap; justify-content: space-evenly;">
    <div class="d-flex card" style="width: 15rem;">
        <img src="http://placekitten.com/g/200/200" class="img mt-3 border border-2 border-dark w-auto " style="width: 15rem;" alt="kittycat">
        <div class="card-body">
        <h5 class="card-title text-center">username:</h5>
        <h5 class="card-title text-center">{{user.username}}</h5>
        {% if current_user == user %}
        <p class="card-text">email: {{user.email}} </p>
        {% endif %}
        </div>
    </div>
</div>
  

  {% for cat in cats %}
  
  <div class="row" style="flex-wrap: wrap; justify-content: space-evenly;">
        <div class="d-flex mt-3 card mw-50 text-center" style="width: 35rem;">
            <div class="card-header bg-info">
            </div>
            <div class="card-body">
                
                <h7>Favorite Internet cat:</h7>
                <a href="{{url_for('view_cat', cat_id=cat.id)}}">
              <h5 class="card-title"> {{ cat.fav_int_cat}}</h5>
            </a>
                
                <h7>Favorite cat breed/color:</h7>
              <p class="card-text"> {{ cat.fav_cat_breed }}</p>
                
              <h7>Favorite cat fact:</h7>
              <p class="card-text"> {{ cat.fav_cat_fact }}</p>
              
            </div>
            <div class="card-footer bg-info text-muted">
              Posted by:
              {{ cat.author.username }} on:
              {{cat.date_created}}  
            </div>
          </div>
        </div>
    
    
        {% endfor %}
        

  

{% endblock content %}